body {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url("./images/background.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100vh;
    color: aliceblue;
}
.navigation ul{
    list-style-type: none;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
}
.navigation li {
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    cursor: pointer;
}
.navigation li:hover {
    background-color: rgb(143, 143, 143);
}
a {
    text-decoration: none;
}
.myimage {
    padding: 10px;
    float: right;

}
.aboutme {
    text-align: center;
    padding: 30px;
}

.mypages {
    text-align: center;
    padding: 20px;

}

.tablepages {
    border-style: double;
    border-color: cornsilk;
    border-radius: 10px;
    text-align: center;
}

.activityCV a{
    color: aliceblue;
}

.activityCV:hover{
    transform: scale(1.08);
}

.divfather {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.divForm {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    float: left;
    margin: 10px;
    width: 20%;        
    min-height: 300px;    
    box-sizing: border-box;
    background-color: #000000;
    box-shadow: 2px black;
    border-radius: 20px;
}

.form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 10px;
}

.form textarea,
.form button,
.form input{
    border-style: solid;
    width: 100%;
    padding: 5px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border-color: blue;
    background: rgb(211, 97, 53)
}

.form button:hover{
    cursor: pointer;
    transform: scale(1.05);
    background: radial-gradient(#fff, blue);
    box-shadow: 1px 2px #7c7c7c;
    
}

.networks a {
    color: rgb(255, 255, 255);
    padding: 5px;
    margin: 10px;
}

