@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
}

html, body{
    height: 100%;
}

body {
    margin: 0;
    background-attachment: fixed;
    background-size: 100% 100%;

    color: aliceblue;
    
}

a {
    text-decoration: none;
    color: white;
}

textarea::placeholder,
input::placeholder {
    color: #000000;
}

.navigation {
    background-color: rgb(3, 3, 3);
}

.navigation ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    padding: 5px;
}
.navigation li {
    text-decoration: none;
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 20px;
    background-color: #232db9;
}

.navigation li:hover {
    background: radial-gradient( rgb(73, 188, 255), black);
    box-shadow: 2px 2px 20px 1px white, -2px -2px 20px 1px white;
    transform: scale(1.05);
}

.aboutme {
    text-align: left;
    gap: 20px;  
    padding: 30px;
    background: linear-gradient( rgb(73, 188, 255), black);
    display: flex;
    flex-direction: row;
    height: 90%;

}

.myimage {
    width: 200px;
    height: 200px;
}

.text {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
}

.aboutme h1,
.aboutme p {
    margin: 0 0 10 px 0;
}

.mypages {
    text-align: center;
    padding: 20px;
    background: linear-gradient( rgb(73, 188, 255), black);
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tablepages {
    border-style: double;
    border-color: cornsilk;
    border-radius: 10px;
    text-align: center;
}

.activityCV{
    border: 2px solid #fff;
    border-radius: 20px;

}

.activityCV a{
    color: aliceblue;
}

.activityCV:hover{
    transform: scale(1.08);
    box-shadow: 2px 2px 30px 2px #000000, -2px -2px 30px 2px #000000;
}

.divfather {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: linear-gradient( rgb(73, 188, 255), black);
    height: 100%;
}

.divForm {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 10px;
    width: 20%;
    height: auto;    
    background-color: #232db9;
    box-shadow: 2px 2px 20px 4px black, 2px 2px 20px 4px black;
    border-radius: 20px;
}

.form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 10px;
    margin-bottom: 15px;
    height: 100%;
}

.form textarea,
.form button,
.form input{
    width: 100%;
    padding: 5px;
    margin: 10px;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 10px;
    background: rgb(255, 255, 255);
}

.form button {
    background-color: gray;
}

.form button:hover{
    cursor: pointer;
    transform: scale(1.05);
    background: radial-gradient( rgb(73, 188, 255), black);
    box-shadow: 2px 2px 20px 4px black, 2px 2px 20px 4px black;
    
}

.divForm a {
    padding: 5px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 20px;
    width: 100px;

}

.divForm a:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 2px 2px 20px 4px black, 2px 2px 20px 4px black;
}

